# Python requirements for the CSMF documentation site

# this installs Material for MkDocs and all dependencies
mkdocs-material

# for the feature which displays authors at the bottom of the page
mkdocs-git-committers-plugin-2

# for the feature which displays last edit date at the bottom of the page
mkdocs-git-revision-date-localized-plugin

# for the PDF export feature
# https://pypi.org/project/mkdocs-with-pdf/
mkdocs-with-pdf

# for the macros feature
mkdocs-macros-plugin
